.main{
    height: 200px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
}
.box1{
    height: 200px;
    width: 200px;
    background-color: blue;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: rebeccapurple;
}
.box3{
    height: 200px;
    width: 200px;
    background-color: red;
}